#registro, #cr7, #vaf, #em0 {
    width: 1000px;
    height: 100px;
    color: blue;
    border-color: black;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}