table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
    cursor: pointer;
}

h2 {
    text-align: center;
}

#registro, #cerrarSesion, #lugar {
    width: 1000px;
    height: 100px;
    color: blue;
    border-color: black;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.suggestion {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
}
.suggestion:hover {
    background-color: #eee;
}
.autocomplete-suggestions {
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background: white;
    width: 200px;
    z-index: 1000; /* Asegúrate de que las sugerencias estén por encima de otros elementos */
}